@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #8bc0e4;
  overflow-x: hidden;
  transition: background 0.3s ease, color 0.3s ease;
  /* Smooth transition for dark mode */
}

body.dark-mode {
  background: #1B263B;
  color: #E0E0E0;
  /*background: #2c2c2c;*/
  /* color: #e0e0e0; */
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: inherit;
  justify-content: flex-start;
  transition: transform 0.5s ease;
}

.chatbot-message {
  background-color: #ffffff;
  /* Set background to white */
  color: #000;
  /* Ensure text color contrasts well */
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  max-width: 70%;
  align-self: flex-start;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#chat_container {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.wrapper.false {
  align-self: flex-end;
  width: 100%;
}

.wrapper.false .chat {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.wrapper.false .message {
  margin-left: auto;
  margin-right: 10px;
}

.wrapper.false .profile {
  margin-left: 10px;
  margin-right: 0;
}


body.dark-mode .ai {
  background: #1B263B;
  /* background: #3a3a3a; */
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
}

.chat.user {
  justify-content: flex-end;
  /* User messages align to the right */
}


.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #080808;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  text-align: left;
  word-wrap: break-word;
}

body.dark-mode .message {
  /* color: #e0e0e0; */
  color: #243B55;
}

.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 80%;
  /* Adjust form width */
  max-width: 800px;
  /* Limit maximum width */
  margin: 0 auto 20px;
  /* Center the form horizontally and add bottom margin */
  padding: 10px;
  background: #dbf3ff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Align the center */
  border-radius: 15px;
  /* Rounded corners for the form */
  z-index: 1000;
  /* Ensure form stays on top */
}

body.dark-mode form {
  /* background: #3a3a3a; */
  background: #f5f5f5;
  color: #1B263B;
}

textarea {
  width: 100%;
  color: #080808;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  /* Rounded corners for the textarea */
  border: 1px solid #cccccc;
  /* Optional border for better visibility */
  outline: none;
  resize: none;
}

body.dark-mode textarea {
  color: #1B263B;
  border: 1px solid #555;
  /* Dark mode adjustment */
}


/* General button styling */
button {
  background-color: #10a37f;
  /* Green background */
  color: white;
  /* White text */
  border: none;
  /* Remove default borders */
  padding: 10px 20px;
  /* Add padding for size */
  font-size: 16px;
  /* Text size */
  font-weight: bold;
  /* Bold text */
  border-radius: 50px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: all 0.3s ease;
  /* Smooth hover effect */
}

/* Hover effect for buttons */
button:hover {
  background-color: #0d865f;
  /* Darker green on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Add shadow on hover */
}

/* Specific styling for New Chat Button */
#newChatButton {
  margin-right: 10px;
  /* Add spacing between buttons */
}

/* Specific styling for Clear History Button */
#clearHistoryButton {
  margin-left: 10px;
  /* Add spacing between buttons */
}


form img {
  width: 20px;
  height: 20px;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

#loading-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.loading-image {
  width: 150px;
  height: 150px;
  border: 4px solid #363853;
  border-radius: 50%;
  background-image: url(assets/pregnant_lady_adobe_express.svg);
  background-size: cover;
}

#arrow-button {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  background: transparent;
}

#arrow-button img {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease;
  /* Smooth rotation */
}

#arrow-button.open img {
  transform: rotate(180deg);
  /* Rotate arrow when menu is open */
}

#menu {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #dbf3ff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.5s ease;
  z-index: 999;
}

body.dark-mode #menu {
  background: #2c2c2c;
  color: #e0e0e0;
}

#menu.open {
  left: 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  /* Add vertical scrolling if needed */
}

.menu-left {
  width: 100%;
  background: #10a37f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

.menu-left button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.menu-right {
  flex: 1;
  padding: 20px;
}

.menu-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.menu-icon-button {
  background: transparent;
  border: none;
  margin-right: 10px;
}

.menu-icon-button img {
  width: 30px;
  height: 30px;
}

body.dark-mode .menu-icon-button img {
  filter: invert(1);
}

@media (max-width: 768px) {

  #chat_container {
    max-height: calc(100vh - 80px);
    /* Leave space for the form */
    overflow-y: auto;
  }

  body,
  html {
    overflow-x: hidden;
  }

  #arrow-button {
    top: 50%;
    transform: translateY(-50%);
  }

  #arrow-button img {
    width: 20px;
    height: 20px;
  }

  #menu {
    width: 100%;
    left: -100%;
  }

  #menu.open {
    left: 0;
  }

  .menu-content {
    flex-direction: column;
  }

  .menu-left {
    width: 100%;
    flex-direction: row;

    justify-content: space-around;
    padding: 10px 0;
  }

  .menu-right {
    width: 100%;
    padding: 20px;
  }

  .menu-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .menu-icon-button {
    background: transparent;
    border: none;
    margin-right: 10px;
  }

  .menu-icon-button img {
    width: 30px;
    height: 30px;
  }
}